@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: 'Noto Sans', sans-serif;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background: #ECEFF1;
}

#page {
    width: 420px;
    margin: 45px auto;
    padding: 20px 10px;
    background: #FFFFFF;
    box-shadow: 0 2px 3px #B0BEC5;
    color: #37474F;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#welcome-text {
    max-width: 340px;
    margin: 5px auto 0;
    font-size: 13px;
    color: #455A64;
}

#omnom {
    width: 150px;
    height: 158px;
    background-image: url(../imgs/omnom.png);
    background-repeat: repeat-x;
    margin: 10px auto;
    cursor: pointer;
}

.ready {
    background-position: 162px 0;
}

.blinked {
    background-position: 310px 0;
}

.loader-icon {
    display: none;
    font-size: 24px;
    animation: rotating 1.2s linear 0s infinite;
    color: #7CB342;
    position: fixed;
    top: 12px;
    left: 50%;
    margin-left: -12px;
}

/*#omnom:hover {
    background-position: 162px 0;
    cursor: pointer;
}*/

#gui {
    display: none;
    margin-top: 10px;
}

.loading {
    animation: bouncing 0.7s linear 0s infinite;
}

@keyframes bouncing {
    0% {
        -ms-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
    50% {
        -ms-transform: scale(0.7,0.7);
        -webkit-transform: scale(0.7,0.7);
        transform: scale(0.7,0.7);
    }
    100% {
        -ms-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@keyframes rotating {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.inline {
    display: inline-table;
    vertical-align: top;
}

.btn {
    margin: 5px 0;
    background: #7CB342;
    padding: 10px;
    border-radius: 3px;
    color: #ffffff;
    font-size:13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: box-shadow 0.2s ease, background 0.2s ease;
    transition: box-shadow 0.2s ease, background 0.2s ease;
}

.btn:hover {
    box-shadow: 0 2px 3px #B0BEC5;
    background: #90A4AE;
    cursor: pointer;
}

#link {
    display: none;
    width: 270px;
    margin: 10px auto;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CFD8DC;
    background: #ffffff;
    text-align: center;
    font-size: 13px;
    color: #455A64;
    -webkit-transition: background 0.15s ease, box-shadow 0.15s ease;
    transition: background 0.15s ease, box-shadow 0.15s ease;
}

#link:focus {
    box-shadow: 0 3px 8px #CFD8DC;
    background: #ECEFF1;
}

/* TABLE */
#table {
    margin: 10px auto;
    width: 400px;
    font-size: 13px;
}

#table-head {
    border: 1px solid #CFD8DC;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
}

.table-row {
    border: 1px solid #CFD8DC;
    border-top: none;
}

.table-row:nth-child(odd) {
    background: #ECEFF1;
}

.table-row:last-child {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.table-col {
    display: inline-table;
    vertical-align: middle;
    width: 28%;
    padding: 7px;
    text-align: center;
}

.table-col:nth-child(even) {
    border-left: 1px solid #CFD8DC;
    border-right: 1px solid #CFD8DC;
}

/* LAST */
#last {
    position: absolute;
    margin-top: 30px;
}

#last > h3 {
    font-size: 13px;
    color: #546E7A;
    display: inline-table;
    vertical-align: middle;
}

#last > a {
    display: inline-table;
    vertical-align: middle;
    padding-bottom: 1px;
    margin-left: 7px;
    font-size: 13px;
    color: #546E7A;
    text-decoration: none;
    border-bottom: 1px solid #B0BEC5;
    -webkit-transition: border-bottom-color 0.1s ease, color 0.1s ease;
    -moz-transition: border-bottom-color 0.1s ease, color 0.1s ease;
    -ms-transition: border-bottom-color 0.1s ease, color 0.1s ease;
    -o-transition: border-bottom-color 0.1s ease, color 0.1s ease;
    transition: border-bottom-color 0.1s ease, color 0.1s ease;
}

#last > a:hover {
    color: #558B2F;
    border-bottom-color: #558B2F;
}

#refresh {
    display: none;
    position: absolute;
    margin-top: 35px;
    margin-left: 355px;
    font-size: 13px;
    color: #558B2F;
    font-weight: bold;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -ms-transition: color 0.1s ease;
    -o-transition: color 0.1s ease;
    transition: color 0.1s ease;
}

#refresh:hover {
    color: #33691E;
    cursor: pointer;
}

/* ERROR */

#error {
    position: fixed;
    width: 420px;
    margin-left: -210px;
    left: 50%;
    padding: 10px;
    background: #f50057;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    z-index: 9999999;
    -webkit-transition: bottom 0.1s;
    transition:  bottom 0.1s;
}

.err-hide {
    bottom: -60px;
}

.err-vis {
    bottom: 30px;
}